---
import Footer from '../components/Footer.astro'
import Metadata from '../components/Metadata.astro'
import Navigation from '../components/Navigation.astro'
const { title, description, imageUrl } = Astro.props
import { ViewTransitions } from 'astro:transitions'
---

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <Metadata title={title} description={description} imageUrl={imageUrl} />
    <ViewTransitions />
  </head>
  <body class="h-screen bg-gradient-to-r from-slate-950 via-slate-900 to-slate-800 dark">
    <Navigation />
    <main
      class="mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script is:inline src="./assets/vendor/preline/preline.js"></script>